[Unit]
Description=Headless GPU Fan Control
After=nvidia-persistenced.service
Wants=nvidia-persistenced.service

[Service]
Type=simple
Environment="PATH=/home/brian/anaconda3/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/brian/anaconda3/bin/coolgpus --kill
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
